<div class="nav right" id="nav-right">
    <div class="spacer">
      </div>
  <!--Populate menu with data from _data/navigation/rightSidebar-->
  {% for sections in site.data.navigation.rightSidebar %} {% assign section = sections[1] %}
  {%if section.section_title != blank%}
  <div class="menuSection">{{ section.section_title }}</div>
  {%endif%}
  {% if section.image %}

    <img src={{ section.image.source }} alt="{{ section.image.text }}" />

  {% endif %}
  {% for item in section.links %}
  {%if item.title %}
  <div class="menuEntry">
    {%if item.url%}
    <a href={{ item.url }}
    {%if item.nofollow == true%}
    ref="nofollow"
    {%endif%}
    title="{{ item.alt }}">{{ item.title }}</a>
    {%else%}
    <em>{{item.title}}</em>
    {%endif%}
  </div>

  {% else %}
  <div class="menuEntry">&nbsp</div>
  {%endif%}
  {% endfor %}
  {% endfor %}
  <!--
    <div class="menu_generic"><a class="lb3" href="http://www.tourism-malaysia.com/" title="Externe link: Tourism Malaysia">Tourism Malaysia</a></div>
  -->
  <div class="menuEntry">&nbsp</div>
  <div class="menuEntry">&nbsp</div>
  <div class="menuEntry">&nbsp</div>
  <div class="menuEntry">&nbsp</div>
  <img  src="/assets/images/default/filler.jpg" alt="Visit Malaysia" />
  <div class="menuEntry">&nbsp</div>
</div>