<div class="hd2_outer" id="nav-top">
  <div class="hd2_item1">
    <a class="la1" tabindex="1" href="http://www.maleisie.be/" title="Maleisie.be, hoofdpagina">Maleisië algemeen</a>
  </div>
  <div class="hd2_item1b">|</div>
  <div class="hd2_item2">
    <a class="la1" tabindex="2" href="http://nieuws.maleisie.be/" title="Maleisie.be, nieuws en faits divers">
      <strong>Nieuws en faits divers</strong>
    </a>
  </div>
  <div class="hd2_item2b"></div>
  <div class="hd2_item3"></div>
  <div class="hd2_item3b"></div>
  <div class="hd2_item4"></div>
  <div class="hd2_item4b"></div>
  <div class="hd2_item5"></div>
</div>