<h2>Archieven</h2>

<div class="mm_container">
  <div class="mm_outer">
    <div class="mm1">
      &#8226;&nbsp;
      <a href="2016/" title="Maleisië nieuws archief voor 2016">Nieuws archief 2016 (
        <!--#echo var="VAR_docc2016" -->)</a>
      <br /> &#8226;&nbsp;
      <a href="2015/" title="Maleisië nieuws archief voor 2015">Nieuws archief 2015 (31)</a>
      <br /> &#8226;&nbsp;
      <a href="2014/" title="Maleisië nieuws archief voor 2014">Nieuws archief 2014 (205)</a>
      <br /> &#8226;&nbsp;
      <a href="2013/" title="Maleisië nieuws archief voor 2013">Nieuws archief 2013 (135)</a>
      <br /> &#8226;&nbsp;
      <a href="2012/" title="Maleisië nieuws archief voor 2012">Nieuws archief 2012 (151)</a>
      <br /> &#8226;&nbsp;
      <a href="2011/" title="Maleisië nieuws archief voor 2011">Nieuws archief 2011 (165)
        <!-- +1  XXX -->
      </a>
      <br /> &#8226;&nbsp;
      <a href="2010/" title="Maleisië nieuws archief voor 2010">Nieuws archief 2010 (202)
        <!-- +10+1  XXX -->
      </a>
      <br /> &#8226;&nbsp;
      <a href="2009/" title="Maleisië nieuws archief voor 2009">Nieuws archief 2009 (150)
        <!-- +34  XXX -->
      </a>
      <br /> &#8226;&nbsp;
      <a href="2008/" title="Maleisië nieuws archief voor 2008">Nieuws archief 2008 (249)
        <!-- +27 -->
      </a>
      <br /> &#8226;&nbsp;
      <a href="2007/" title="Maleisië nieuws archief voor 2007">Nieuws archief 2007 (278)
        <!-- +31 -->
      </a>
      <br /> &#8226;&nbsp;
      <a href="2006/" title="Maleisië nieuws archief voor 2006">Nieuws archief 2006 (220)
        <!-- +22 -->
      </a>
      <br /> &#8226;&nbsp;
      <a href="2005/" title="Maleisië nieuws archief voor 2005">Nieuws archief 2005 (237)
        <!-- +1 -->
      </a>
      <br /> &#8226;&nbsp;
      <a href="2004/" title="Maleisië nieuws archief voor 2004">Nieuws archief 2004 (158)
        <!-- +5 -->
      </a>
      <br />
    </div>
    <div class="mm2">&nbsp;</div>
    <div class="mm3">
      &#8226;&nbsp;
      <a href="2003/" title="Maleisië nieuws archief voor 2003">Nieuws archief 2003 (116)
        <!-- +2 -->
      </a>
      <br /> &#8226;&nbsp;
      <a href="2002/" title="Maleisië nieuws archief voor 2002">Nieuws archief 2002 (103)</a>
      <br /> &#8226;&nbsp;
      <a href="2001/" title="Maleisië nieuws archief voor 2001">Nieuws archief 2001 (46)</a>
      <br /> &#8226;&nbsp;
      <a href="2000/" title="Maleisië nieuws archief voor 2000">Nieuws archief 2000 (30)</a>
      <br /> &#8226;&nbsp;
      <a href="1999/" title="Maleisië nieuws archief voor 1999">Nieuws archief 1999 (47)</a>
      <br /> &#8226;&nbsp;
      <a href="1998/" title="Maleisië nieuws archief voor 1998">Nieuws archief 1998 (56)</a>
      <br /> &#8226;&nbsp;
      <a href="1997/" title="Maleisië nieuws archief voor 1997">Nieuws archief 1997 (42)</a>
      <br /> &#8226;&nbsp;
      <a href="1996/" title="Maleisië nieuws archief voor 1996">Nieuws archief 1996 (17)</a>
      <br /> &#8226;&nbsp;
      <a href="1995/" title="Maleisië nieuws archief voor 1995">Nieuws archief 1995 (16)</a>
      <br /> &#8226;&nbsp;
      <a href="1994/" title="Maleisië nieuws archief voor 1994">Nieuws archief 1994 (20)</a>
      <br /> &#8226;&nbsp;
      <a href="1993/" title="Maleisië nieuws archief voor 1993">Nieuws archief 1993 (10)</a>
      <br /> &#8226;&nbsp;
      <a href="1992/" title="Maleisië nieuws archief voor 1992">Nieuws archief 1992 (5)</a>
      <br /> &nbsp;
      <br />
    </div>
    <div class="mm_cleaner"></div>
  </div>
</div>