<div class="footer" id="footer">
  <div class="copyrights">2002-{{site.time | date: '%Y'}} Maleisie.be. Alle Rechten Voorbehouden.</div>
  <div class="links">
    <a href={{"/cgi-bin/search_nl/search.pl" | prepend: site.parenturl }} rel="Search" accesskey="4" title="Zoeken">Zoeken</a> |
    <a href={{"/contact.html" | prepend: site.parenturl }} title="Contact">Contact</a> |
    <a href={{"/gebruiksvoorwaarden.html" | prepend: site.parenturl }} rel="glossary" accesskey="8" title="Gebruiksvoorwaarden">Gebruiksvoorwaarden</a>
  </div>
</div>