<div class="f2_outer" id="footer">
  <div class="f2a_inner">2002-{{site.time | date: '%Y'}} Maleisie.be. Alle Rechten Voorbehouden.</div>
  <div class="f2b_inner">
    <a class="la1" href={{"/cgi-bin/search_nl/search.pl" | prepend: site.parenturl }} rel="Search" accesskey="4" title="Zoeken">Zoeken</a> |
    <a class="la1" href={{"/contact.html" | prepend: site.parenturl }} title="Contact">Contact</a> |
    <a class="la1" href={{"/gebruiksvoorwaarden.html" | prepend: site.parenturl }} rel="glossary" accesskey="8" title="Gebruiksvoorwaarden">Gebruiksvoorwaarden</a>
  </div>
</div>