<div class="f2_outer" id="footer">
  <div class="f2a_inner">2002-
    <!--#config timefmt="%Y" -->
    <!--#echo var="DATE_LOCAL" -->Maleisie.be. Alle Rechten Voorbehouden.</div>
  <div class="f2b_inner">
    <a class="la1" href="http://www.maleisie.be/cgi-bin/search_nl/search.pl" rel="Search" accesskey="4" title="Zoeken">Zoeken</a> |
    <a class="la1" href="http://www.maleisie.be/contact.html" title="Contact">Contact</a> |
    <a class="la1" href="http://www.maleisie.be/gebruiksvoorwaarden.html" rel="glossary" accesskey="8" title="Gebruiksvoorwaarden">Gebruiksvoorwaarden</a>
  </div>
</div>