<!--Need to add in modern browser functionality like manifests, live tiles, and maybe a service worker.-->

<head>

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <!-- Maleisië Nieuws -->


  <meta name="name" content="Nieuws.maleisie.be" />
  <meta name="description" content="Actueel nieuws en diverse feiten uit Maleisië, kritische dossiers, een vrij toegankelijk archief met 2600+ nieuwsberichten en links naar Maleisische media. Maleisie nieuws."
  />
  <meta name="keywords" content="Maleisië, nieuws, berichten, nieuwsberichten, dossiers, artikels, informatie, archief, krant, magazine"
  />
  <meta name="news_keywords" content="Maleisië, nieuws, berichten, nieuwsberichten, dossiers, artikels, informatie, archief, krant, magazine">
  <meta name="author" content="Timmermans" />
  <meta name="classification" content="malaysia,news" />

  <html lang="nl">
  <meta charset="UTF-8">
  <meta http-equiv="content-style-type" content="text/css" />
  <meta http-equiv="content-script-type" content="text/javascript" />

 <!-- <meta name="viewport" media="screen " content="width=device-width, initial-scale=1">-->

  <link rel="stylesheet" type="text/css" media="screen" href="/assets/css/screen.css" />
  <link rel="stylesheet" type="text/css" media="print" href="/assets/css/print.css" />
  <script type="text/javascript" src="/assets/js/time.js"/></script>
  <script type="text/javascript" src="/assets/js/vanverre.js"/></script>
  <link rel="alternate" type="application/rss+xml" title="Maleisie.be - RSS" href={{ "/rss/maleisie_nieuws.xml" | prepend: site.parenturl }}
  />
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
  <link rel="icon" href="favicon.ico" type="image/x-icon" />

  <meta name="robots" content="noodp, noydir, notranslate" />
  <meta name="rating" content="safe for kids" />

  <meta property="fb:admins" content="757356730" />
  <!-- FACEBOOK -->
  <meta name="msvalidate.01" content="48B2AF74F54EFEC9ACDF8980F212C7B5" />
  <!-- MS / BING -->

</head>