<div class="header" id="header">
  <a href={{site.parenturl}} title="Maleisie.be, hoofdpagina">
    <img class="logo" src={{ "/images/banners/160x053_maleisie_02.jpg" | prepend: site.parenturl }} alt="Maleisië" />
  </a>

  <form action={{ "/cgi-bin/search_nl/search.pl" | prepend: site.parenturl }} method="get" class="search_form">
    <p>
      <input type="text" name="Terms" id="fdse_TermsEx" class="search_text" aria-label="Search box" maxlength="256" size="9" />
      <br />
      <input type="submit" id="fdse_EnterEx" aria-label="Search button" class="search_button" value="Zoek in deze site" />
    </p>
  </form>
</div>

<div class="TopNav" id="nav-top">
  <a class="item" href={{site.parenturl}} title="Maleisie.be, hoofdpagina">Maleisië algemeen</a>
  <a class="item strong" href="/" title="Maleisie.be, nieuws en faits divers">
    <strong>Nieuws en faits divers</strong>
  </a>

</div>