body{
  margin-left: 2%;
  margin-right: 2%;
  font-size:70%;
  margin-bottom: 0%;
  margin-top: 0%;
  font-family:verdana, arial, sans-serif;
  min-width: 650px;
}
h1{font-size:170%;font-weight:bold;margin-top:8px;}
h2{font-size:140%;font-weight:bold;}
h3{font-size:120%;font-weight:bold;}
a{background-color:#ffffff;color:#96c4f1;text-decoration:none;}
a:link{background-color:#ffffff;color:#003366;text-decoration:none;}
a:hover{background-color:#ffffff;color:#ff6633;text-decoration:none;}
a:visited{color:#aaaaaa;text-decoration:none;}
a:active{color:#ff6633;text-decoration:none;}
a.go_top{background-color:#ffffff;color:#000000;text-decoration:none;}
a.go_top:hover{background-color:#ffffff;color:#ff6633;text-decoration:none;}
a.go_top:visited{background-color:#ffffff;color:#aaaaaa;text-decoration:none;}
a.go_top:active{background-color:#ffffff;color:#ff6633;text-decoration:none;}

.header{
  background: #f1f1f1;
  width: 100%;
  height: 90px; /* Need to switch to rem units*/
  min-width: 650px;
}
.header .logo{
  float: left;
  margin-top: 17px;
}
.header .search_form{
  float: right;
  margin-top: 17px;
  text-align: center;
  height: 53px;
  padding-right: 0.8rem;
}
.header .search_form input{
  margin:1px;
}
.header .search_form .search_text{width:135px;height:14px;}
.header .search_form .search_button{height:22px;}

.TopNav{
  background: #000000;
  padding-top: 2px;
  padding-bottom: 2px;
  height:1rem;
  min-width: 650px;
  margin-bottom: 1px;
}
.TopNav .item{
  color: #ffffff;
  background: #000000;
  margin-left: 38px;
}

.spacer{
  background: #990000;
  padding-top: 2px;
  padding-bottom: 2px;
  height:1rem;
  width:100%;
  margin-bottom: 1px;
  padding-right: 2rem;
}

.nav{
  display: inline-block;
  width: fit-content;
  min-width:160px;
  margin:0px;
  background:white;
  color:#000000;
  vertical-align:top;
  height: 100%;
  padding-right: 1em;
  overflow-x: hidden;
  margin-right: 1px;
}
.nav.right{
  margin-right: 0px;
}
.nav .menuSection{
  background:#c90000;
  color:#ffffff;
  font-weight:bold;
  text-decoration:none;
  width: 100%;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  height: 1rem;
  padding-left:1em;
  padding-right:1em;
  margin-bottom: 1px;
}
.nav .menuSection a{
  background:#c90000;
  color: inherit;
  height:1rem;
  width: 100%;
}
.nav .menuSection a:hover{
  color:#ff6633;
}
.nav .menuEntry{
  background:#f1f1f1;
  color:#000000;
  padding-left:1em;
  padding-top:0.2em;
  padding-bottom: 0.2em;
  height:1rem;
  width:100%;
  margin-bottom: 1px;
}
.nav .menuEntry a{
  background:#f1f1f1;
  color:#003366;
  text-decoration:none;
}
.nav .menuEntry a:hover{
  color:#ff6633;
}
.nav img{
  width:calc(100% + 1.2em);
  background:#f1f1f1;
}
.nav .quickMenu{
  background:#f1f1f1;
  color:#000000;
  width: 100%;
}
.nav .quickMenu select{
  width: calc(100% + 1em);
}
.bodyWrapper{
  width:100%;
  background-color:#f1f1f1;
  display: flex;
  overflow-x: hidden;
}
.infobar{
  padding-top: 0.2rem;
  height:1rem;
}
.infobar .path{
  float: left;
  width: fit-content;
}
.infobar .clock{
  float: right;
}
.middle_print_icon{position:absolute;right:0px;}
.middle_clock{position:absolute;right:0px;}
.contentArea{
  display: inline-block;
  background-color:white;
  color:#000000;
  margin:0px auto;
  padding-top:10px;
  padding-left:13px;
  padding-right:13px;
  text-align:left;
  vertical-align:top;
  width: -moz-available;          /* WebKit-based browsers will ignore this. */
  width: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
  width: fill-available;
}

.dossiers{
  width: 100%;
  display: flex;
}
.dossiers img{
  padding-right: 1rem;
}
.returnTop{
  float: right;
  margin-bottom: 1rem;
}
.footer{
  width:100%;
  height:1rem;
  background-color:#000000;
  color:#ffffff;
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
}
.footer .copyrights{
  padding-left: 1rem;
  float: left;

}
.footer .links{
  float: right;
  padding-right: 1rem;
}
.footer .links a{
  text-decoration:none;
  background-color:#000000;
  color:#ffffff;
}
.footer .links a:hover{
  text-decoration:none;
  background-color:#000000;
  color:#ff6633;
}

.archives{
  column-count: auto;
  column-gap: 0.5rem;
  column-width: 200px;
  column-rule: 1px dotted #000
}
.archives ul{
  margin: 0;
}

hr.dotline_12 {
  border:none;
  border-top:1px dotted #000;
  color:#fff;
  height:1px;
  width:100%;
  margin-bottom:12px;margin-top:12px;
}
hr.dotline_28 {
  border:none;
  border-top:1px dotted #000;
  color:#fff;
  height:1px;
  width:100%;
  margin-bottom:28px;margin-top:28px;
}
hr.dotline_a {
  border:none;
  border-top:1px dotted #000;
  color:#fff;
  height:1px;
  width:100%;
  margin-bottom:16px;margin-top:28px;
}
.recent{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.recent ul{
  margin: 0;
  padding-left:20px;
}