body{background-color:#ffffff;color:#000000;margin:0px 0px 0px 0px;}
body{font-family:verdana, arial, sans-serif;font-size:65%;}
input, select, td, xmp{font-family:verdana, arial, sans-serif;font-size:100%;}
table{border-style:none;}
.center{margin-left:30px;margin-right:auto;}
img{border:0px;margin-bottom:0px;}
.img0a{width:428px;height:89px;}
.img1a{width:160px;height:53px;}
.img2a{width:160px;height:120px;}
.img2b{width:160px;height:120px;border:solid 1px #000000;}
.img3a{width:160px;height:89px;background-color:#e8e8e8;}
.middle_image_img{float:left;width:162px;height:122px;padding-right:10px;}
.middle_image_text{float:left;width:230px;}
.img_wrapper{font-size:0%;}
form{margin-top:0;margin-bottom:0;width:160px;}
.formw{width:160px;}
/*p{margin:0;} Commented because it breaks article layout, disabling doesn't seem to break anything else*/
.ring{text-align:center;}
	.vspace12{width:404px;height:1px;margin-bottom:12px;margin-top:12px;}
	.vspace28{width:404px;height:1px;margin-bottom:28px;margin-top:28px;}
	.vspace_a{width:404px;height:1px;margin-bottom:16px;margin-top:28px;}
.dotline_12{width:404px;height:1px;margin-bottom:12px;margin-top:12px;}
.dotline_28{width:404px;height:1px;margin-bottom:28px;margin-top:28px;}
.dotline_a{width:404px;height:1px;margin-bottom:16px;margin-top:28px;}
a{background-color:#ffffff;color:#003366;text-decoration:none;}
a:link{background-color:#ffffff;color:#003366;text-decoration:none;}
a:hover{background-color:#ffffff;color:#ff6633;text-decoration:none;}
a:visited{color:#aaaaaa;text-decoration:none;}
a:active{color:#ff6633;text-decoration:none;}
h1{font-family:verdana, arial, sans-serif;font-size:170%;font-weight:bold;background-color:#ffffff;color:#000000;margin-top:8px;}
h2{font-family:verdana, arial, sans-serif;font-size:140%;font-weight:bold;background-color:#ffffff;color:#000000;margin-top:0px;}
h3{font-family:verdana, arial, sans-serif;font-size:120%;font-weight:bold;background-color:#ffffff;color:#000000;margin-top:0px;}
.red{font-family:verdana, arial, sans-serif;font-size:140%;font-weight:bold;background-color:#ffffff;color:#ff0000;margin-top:0px;}
.hd0_outer_wrapper{position:relative;left:0px;top:0px;width:750px;background-color:#ffffff;color:#ffffff;}
.hd1_outer{position:relative;width:750px;height:89px;}
.hd1_left{position:absolute;left:0px;top:0px;width:160px;height:89px;background-color:#f1f1f1;color:#000000;}
.hd1_middle{position:absolute;left:161px;top:0px;width:428px;height:89px;background-image:url('http://www.maleisie.be/images/default/head_news.jpg');*/background-color:#f1f1f1;color:#ffffff;}
.hd1_middle2{position:absolute;left:161px;top:0px;width:428px;height:89px;background-color:#f1f1f1;color:#ffffff;}
.hd1_right{position:absolute;left:590px;top:0px;width:160px;height:89px;background-color:#f1f1f1;color:#000000;}
.hd2_outer{position:relative;width:750px;height:17px;background-color:#000000;color:#ffffff;margin-bottom:1px;margin-top:1px;}
.hd2_item1{position:absolute;left:38px;top:2px;}
.hd2_item1b{position:absolute;left:159px;top:2px;color:#000000;}
.hd2_item2{position:absolute;left:178px;top:2px;}
.hd2_item2b{position:absolute;left:315px;top:2px;color:#000000;}
.hd2_item3{position:absolute;left:334px;top:2px;}
.hd2_item3b{position:absolute;left:410px;top:2px;color:#000000;}
.hd2_item4{position:absolute;left:429px;top:2px;}
.hd2_item4b{position:absolute;left:574px;top:2px;color:#000000;}
.hd2_item5{position:absolute;left:593px;top:2px;}
.hd3_outer{position:relative;width:750px;height:17px;}
.hd3_left{position:absolute;left:0px;top:0px;width:160px;height:17px;background-color:#990000;color:#ffffff;}
.hd3_middle{position:absolute;left:161px;top:0px;width:428px;height:17px;background-color:#990000;color:#ffffff;}
.hd3_right{position:absolute;left:590px;top:0px;width:160px;height:17px;background-color:#990000;color:#ffffff;}
.bx1{background-color:#e8e8e8;border-top:1px solid white;border-bottom:1px solid white;color:#000000;font-family:verdana, arial, sans-serif;height:53px;margin:17px 0px;text-align:center;width:160px;}
.bx2{background-color:#e8e8e8;color:#000000;font-family:verdana, arial, sans-serif;height:53px;margin:1px 0px;text-align:center;width:160px;}
.search_form{margin-top:4px;margin-bottom:5px;}
.search_text{width:135px;height:14px;}
.search_button{height:22px;}
a.la1{background-color:#000000;color:#ffffff;font-family:verdana, arial, sans-serif;font-size:100%;text-decoration:none;}
a.la1:hover{background-color:#000000;color:#ff6633;font-family:verdana, arial, sans-serif;font-size:100%;text-decoration:none;}
a.lb1{background-color:#c90000;color:#ffffff;font-family:verdana, arial, sans-serif;font-size:100%;text-decoration:none;}
a.lb1:hover{background-color:#c90000;color:#ff6633;font-family:verdana, arial, sans-serif;font-size:100%;text-decoration:none;}
a.lb2{background-color:#e8e8e8;color:#003366;font-family:verdana, arial, sans-serif;font-size:100%;font-weight:bold;text-decoration:none;}
a.lb2:hover{background-color:#e8e8e8;color:#ff6633;font-family:verdana, arial, sans-serif;font-size:100%;font-weight:bold;text-decoration:none;}
a.lb3{background-color:#f1f1f1;color:#003366;font-family:verdana, arial, sans-serif;font-size:100%;text-decoration:none;}
a.lb3:hover{background-color:#f1f1f1;color:#ff6633;font-family:verdana, arial, sans-serif;font-size:100%;text-decoration:none;}
a.referer{background-color:#ffffff;color:#000000;font-family:verdana, arial, sans-serif;font-size:100%;text-decoration:none;}
a.referer:hover{background-color:#ffffff;color:#ff6633;font-family:verdana, arial, sans-serif;font-size:100%;text-decoration:none;}
a.referer:visited{background-color:#ffffff;color:#aaaaaa;font-family:verdana, arial, sans-serif;font-size:100%;text-decoration:none;}
a.referer:active{background-color:#ffffff;color:#ff6633;font-family:verdana, arial, sans-serif;font-size:100%;text-decoration:none;}
a.go_top{background-color:#ffffff;color:#000000;font-family:verdana, arial, sans-serif;font-size:100%;text-decoration:none;}
a.go_top:hover{background-color:#ffffff;color:#ff6633;font-family:verdana, arial, sans-serif;font-size:100%;text-decoration:none;}
a.go_top:visited{background-color:#ffffff;color:#aaaaaa;font-family:verdana, arial, sans-serif;font-size:100%;text-decoration:none;}
a.go_top:active{background-color:#ffffff;color:#ff6633;font-family:verdana, arial, sans-serif;font-size:100%;text-decoration:none;}
.cell_main_wrapper_1{width:750px;background:url("../images/default/sidebar.png") top left repeat-y;}
.cell_main_wrapper_2{width:100%;background:url("../images/default/sidebar.png") top right repeat-y;}
.cell_main_left{float:left;width:160px;margin:0px;background-color:white;color:#000000;vertical-align:top;}
.cell_main_middle{float:left;width:404px;background-color:white;color:#000000;margin:0px auto;padding-top:10px;padding-left:13px;padding-right:13px;text-align:left;vertical-align:top;}
.cell_main_right{background-color:white;color:#000000;float:left;margin:0px;vertical-align:top;width:160px;}
.cleaner{background:transparent;border:none;clear:both;font-size:10%;height:1px;margin:0px;padding:0px;}
.f1_outer{position:relative;height:25px;}
.f1_inner_left{padding-top:0px;padding-right:10px;padding-bottom:0px;padding-left:0px;position:absolute;left:0px;top:0px;text-align:right;}
.f1_inner_right{padding-top:0px;padding-right:0px;padding-bottom:0px;padding-left:0px;position:absolute;right:0px;top:0px;text-align:right;}
.f2_outer{position:relative;width:750px;height:17px;background-color:#000000;color:#ffffff;}
.f2a_inner{position:absolute;left:0px;top:2px;padding-top:0px;padding-right:0px;padding-bottom:0px;padding-left:10px;background-color:#000000;font-family:verdana, arial, sans-serif;font-size:100%;color:#ffffff;text-align:left;}
.f2b_inner{position:absolute;right:0px;top:2px;padding-top:0px;padding-right:10px;padding-bottom:0px;padding-left:0px;background-color:#000000;font-family:verdana, arial, sans-serif;font-size:100%;color:#ffffff;text-align:right;}
.menu_main{background-color:#c90000;color:#ffffff;font-family:verdana, arial, sans-serif;font-size:100%;font-weight:bold;height:15px;margin-bottom:1px;margin-top:1px;padding-left:10px;padding-top:2px;}
.menu_generic{background-color:#f1f1f1;color:#000000;font-family:verdana, arial, sans-serif;font-size:100%;height:15px;margin-bottom:1px;margin-top:1px;padding-left:10px;padding-top:2px;}
.menu_no_top_space{background-color:#f1f1f1;color:#000000;height:15px;margin-bottom:1px;margin-top:0px;padding-left:10px;padding-top:2px;}
.menu_shop{background-image:url('../images/default/m_right_large.gif');background-color:#e8e8e8;color:#000000;font-family:verdana, arial, sans-serif;font-size:100%;height:15px;margin-bottom:1px;margin-top:1px;padding-left:10px;padding-top:2px;}
.menu_big{background-color:#e8e8e8;color:#000000;font-family:verdana, arial, sans-serif;font-size:100%;font-weight:bold;margin-bottom:1px;margin-top:1px;height:46px;padding-top:7px;text-align:center;width:160px;}
.menu_text{margin-top:2px;}
.menu_spacer_9{height:18px;background-color:#f1f1f1;color:#000000;}
.menu_spacer_15{height:17px;background-color:#f1f1f1;color:#000000;}
.menu_spacer_16{height:17px;background-color:#f1f1f1;color:#000000;}
.menu_spacer_17{height:17px;background-color:#f1f1f1;color:#000000;}
.menu_spacer_19{height:19px;background-color:#f1f1f1;color:#000000;}
.menu_spacer_35{height:35px;background-color:#f1f1f1;color:#000000;}
.block_89{height:89px;background-color:#f1f1f1;color:#000000;}
.quickmenu{background-color:#f1f1f1;color:#000000;}
.maleisie_time{font-family:verdana, arial, sans-serif;font-size:100%;}
.entry-title{visibility:hidden;}
.middle_top_line{position:relative;height:14px;}
.middle_location_path{font-family:verdana, arial, sans-serif;font-size:100%;position:absolute;left:0px;}
.middle_print_icon{position:absolute;right:0px;}
.middle_clock{position:absolute;right:0px;}
.middle_language{position:absolute;right:0px;}
.chunk1a_outer{width:404px;}
.chunk1a_left{width:396px;float:left;}
.chunk1a_right{width:8px;float:right;}
.chunk1a_title{font-weight:bold;}
.chunk1a_image{width:5px;height:10px;border:0px;}
.chunk1a_text{text-align:justify;margin-top:10px;}
.chunk1b_outer{width:404px;}
.chunk1b_title{font-weight:bold;}
.chunk1b_text{text-align:justify;margin-top:20px;}
.chunk2_outer{width:100%;}
.chunk2_left{width:50%;float:left;}
.chunk2_right{width:50%;float:right;}
.chunk2_image_center{margin-left:auto;margin-right:auto;width:160px;height:120px;}
.chunk2_image{width:160px;height:120px;border:1px solid #000066;}
.chunk2_text{text-align:center;margin-top:5px;font-style:italic;}
.chunk3_outer{width:100%;}
.chunk3_image_wrapper{text-align:center;margin-left:auto;margin-right:auto;}
.chunk3_image{border:1px solid #000066;}
.chunk3_text{text-align:center;margin-top:5px;font-style:italic;}
.chunk5_outer{width:404px;}
.chunk5_text{text-align:center;margin-top:10px;}
.chunk_cleaner{clear:both;height:1px;font-size:1px;border:none;margin:0px;padding:0px;background:transparent;}
.mm_container{width:404px;}
.mm_cleaner{clear:both;height:1px;font-size:1px;border:none;margin:0px;padding:0px;background:transparent;}
.mm_outer{background-image:url('../images/default/dots_v.png');background-repeat:repeat-y;background-position:197px 0px;}
.mm1{width:197px;float:left;}
.mm2{width:10px;float:left;}
.mm3{width:197px;float:left;}
.img1apromo{width:160px;height:53px;}
#banner_action{display:block;position:fixed;top:18px;left:810px;width:160px;height:600px;background:transparent;}
* html div#banner_action{position:absolute;top:expression(eval(document.compatMode &&
document.compatMode=='CSS1Compat') ?
documentElement.scrollTop + 152:document.body.scrollTop + 152);background:transparent;}
