<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="nl">

{% include head.html %}

<body>

  <!-- robots content="noindex" -->


    {% include header.html %}
    <div class="bodyWrapper">
      {% include navigation/leftSidebar.html %}

      <div style="margin-right: 1px;overflow-x:  hidden;">
        <div class="spacer" id="nav-spacer">
        </div>
        <div class="contentArea" id="container">

          <div class="infobar" id="nav-center-top">
            <div class="path">
              <em>
                <a href={{site.parenturl}} title="Maleisië">Maleisië</a>
              </em> &raquo;
              <em>
                <a href="/" title="Nieuws en faits divers - Hoofdpagina">Nieuws en faits divers</a>
              </em> &raquo;
              <em>
                <a href="/{{ page.date | date: '%Y' }}/" title="Maleisië nieuws en faits divers archief voor het jaar {{ page.date | date: '%Y' }}">Archief {{ page.date | date: '%Y' }}</a>
              </em> &raquo;
              <em>Artikel</em>
            </div>
            <div class="clock">
              <span title="Maleisische Standaardtijd (UTC+8)">MST:
                <script>StartClock();</script>
                <span id="theTime"></span>
              </span>
            </div>
          </div>

          <!-- /robots -->

          <hr class="dotline_12">

          <strong>{{ page.date | date: '%Y/%m/%d' }} {{ page.title }}</strong>
          <br />
          <div align="justify">

            {{ content }}

          </div>

          <!--
            <img class="dotline_28" src="../images/default/dots.png" alt="-" />

            FB CODE -->

            <hr class="dotline_28"> {% include recenteNieuws.html %}
            &#8226;&#160;<a href="/{{ page.date | date: '%Y' }}/">Eerder gepubliceerde berichten uit {{ page.date | date: '%Y' }}</a><br/>
            &#8226;&#160;<a href="/index.html#archief">Links naar het nieuwsarchief</a></p>
            <br />

            <!-- robots content="noindex" -->

            <br />
            <br />
            <br />

          </div>
        </div>

          {% include navigation/rightSidebar.html %}

        </div>
      </div>

      {% include footer.html %}

    <!-- /robots -->

  </body>

  </html>