<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="nl">

{% include head.html %}
<body>

  <!-- robots content="noindex" -->

  <div class="hd0_outer_wrapper center">

    {% include header.html %}

    {% include navigation/topNav.html %}
    <div class="hd3_outer" id="nav-spacer">
      <div class="hd3_left">&nbsp;</div>
      <div class="hd3_middle">&nbsp;</div>
      <div class="hd3_right">&nbsp;</div>
    </div>

    <div class="cell_main_wrapper_1">
      <div class="cell_main_wrapper_2">

        {% include navigation/leftSidebar.html %}

        <div class="cell_main_middle" id="container">

          <div class="middle_top_line" id="nav-center-top">
            <div class="middle_location_path"><em><a href="http://www.maleisie.be/" title="Maleisië">Maleisië</a></em> &raquo; <em><a href="http://nieuws.maleisie.be/" title="Nieuws en faits divers - Hoofdpagina">Nieuws en faits divers</a></em> &raquo; <em><a href="http://nieuws.maleisie.be/{{ post.date | date: '%Y' }}/" title="Maleisië nieuws en faits divers archief voor het jaar {{ page.date | date: '%Y' }}">Archief {{ page.date | date: '%Y' }}</a></em> &raquo; <em>Artikel</em></div>
            <div class="middle_clock">
              <span title="Maleisische Standaardtijd (UTC+8)">MST: <span id="maleisie_time" class="maleisie_time">&nbsp;</span>
              <script type="text/javascript">
                //<![CDATA[
                setInterval (show_current_time, 500);
                //]]>
              </script>
            </span>
          </div>
        </div>

        <!-- /robots -->

        <img class="dotline_12" src="/assets/images/default/dots.png" alt="-" />

        <strong>{{ page.date | date: '%Y/%m/%d' }} {{ page.title }}</strong><br />
        <div align="justify">

          {{ content }}

        </div>

        <!--
          <img class="dotline_28" src="../images/default/dots.png" alt="-" />

          FB CODE -->

          <img class="dotline_28" src="../images/default/dots.png" alt="-" />

          {% include recenteNieuws.html %}
          &#8226;&#160; <a href="http://nieuws.maleisie.be/{{ page.date | date: '%Y' }}>/">Eerder gepubliceerde berichten uit {{ page.date | date: '%Y' }}</a><br />
          &#8226;&#160; <a href="http://nieuws.maleisie.be/index.html#archief">Links naar het nieuwsarchief</a><br />

          <!-- robots content="noindex" -->

          <br /><br /><br />

        </div>

        {% include navigation/rightSidebar.html %}

        <div class="cleaner">&nbsp;</div>
      </div>
    </div>

    {% include footer.html %}

    <p>&#160;</p>

  </div>

  <div class="cleaner">&nbsp;</div>

  <!-- /robots -->

</body>
</html>